public/*.mp4 filter=lfs diff=lfs merge=lfs -text
public/*.webm filter=lfs diff=lfs merge=lfs -text
public/*.mov filter=lfs diff=lfs merge=lfs -text
public/*.mkv filter=lfs diff=lfs merge=lfs -text
public/*.png filter=lfs diff=lfs merge=lfs -text
public/*.jpg filter=lfs diff=lfs merge=lfs -text
public/*.jpeg filter=lfs diff=lfs merge=lfs -text
public/*.gif filter=lfs diff=lfs merge=lfs -text
public/*.webp filter=lfs diff=lfs merge=lfs -text
public/*.avif filter=lfs diff=lfs merge=lfs -text
public/*.ico filter=lfs diff=lfs merge=lfs -text
