@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply box-border text-white;
}

html {
    @apply bg-slate-800 h-screen;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
